@using FE.Restream.Enums

<div class="background-select">
    <b>Format Selection</b>
    <div>
        <InputRadioGroup @bind-Value="@AppState.BackgroundClass" Name="formatSelectGroup">
        @for (var i = 0; i < FormatOptions.Length; i++)
        {
            var option = FormatOptions[i];
            <div>
                <InputRadio Value="option" id="@option" />
                <label for="@option">@option</label>
            </div>
        }
        </InputRadioGroup>
    </div>
</div>

@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new();

    string [] FormatOptions = Enum.GetNames<BackgroundOption>();
}
