
<button type="button" class="hide-trackers-btn"
        @onclick=@(() => UpdateTrackerVisibility())>
    @trackersText
</button>

@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new();

    private string trackersText = "Hide Trackers";
    

    void UpdateTrackerVisibility()
    {
        AppState.HideTracker = !AppState.HideTracker;
        trackersText = AppState.HideTracker ? "Show Trackers" : "Hide Trackers";
    }
}
