@using FeTracker.Common.RazorComponents

<div class="tracker-section @PlayerSide">
    <PlayerData PlayerName="@PlayerName" Pronouns="@Pronouns" />
    <KeyItemsTracker />

</div>

@code {
    [Parameter]
    public string PlayerSide { get; set; } = string.Empty;

    [Parameter]
    public string? PlayerName { get; set; }

    [Parameter]
    public string? Pronouns { get; set; }
}
