<div class="restream-info">
    <h3>Restream Size Details</h3>
    <p>Overall Restream Canvas: 1280 x 720</p>
    <p>Video area: 520 x 390</p>
    <p>Player 1 Position -  X: 12 Y: 7</p>
    <p>Player 2 Position - X: 748 Y: 7</p>
</div>
