@page "/"
@using FE.Restream.Features

<PageTitle>Tracker Start</PageTitle>

<div>
    <KeyItemTracker HeaderTitle="Player 1" />
    <br />
    <br />
    <br />
    <KeyItemTracker HeaderTitle="Player 2" />
</div>
