@page "/"
@using FE.Restream.Features
@using FeTracker.Common.RazorComponents;

<div class="restream-container">
    <div class="upper-container">
        <VideoArea />
        <VideoArea />
    </div>
    <div class="lower-container">
        <PlayerSection PlayerName="@AppState.LeftPlayerName" Pronouns="@AppState.LeftPlayerPronouns" PlayerSide="tracker-left" />
        <ObjectiveList />
        <PlayerSection PlayerName="@AppState.RightPlayerName" Pronouns="@AppState.RightPlayerPronouns" PlayerSide="tracker-right" />
    </div>
</div>
<br />
<div class="data-entry-container">
    <PlayerDataInput>
        <ObjectiveInput />
    </PlayerDataInput>

</div>


@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new CascadingAppState();
}