@page "/"
@using FE.Restream.Features
@using FeTracker.Common.RazorComponents;

<div class="restream-container">
    <div class="upper-container">
        <VideoArea />
        <VideoArea />
    </div>
    <div class="lower-container">
        <PlayerSection PlayerName="xPankraz" Pronouns="he/him" PlayerSide="tracker-left" />
        <ObjectiveList />
        <PlayerSection PlayerName="RydiaCaller" Pronouns="she/her" PlayerSide="tracker-right" />
    </div>
</div>
