
<div class="left-player">
    <b>Left Player Name:</b>
    <InputText @bind-Value="AppState.LeftPlayerName" />

    <span class="mt-5"><b>Left Player Pronouns:</b></span>
    <InputText @bind-Value="AppState.LeftPlayerPronouns" />
</div>

<div class="right-player">
    <b>Right Player Name: </b>
    <InputText @bind-Value="AppState.RightPlayerName" />
    <span class="mt-5"><b>Right Player Pronouns:</b></span>
    <InputText @bind-Value="AppState.RightPlayerPronouns" />
</div>

<br />

@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new CascadingAppState();
}
