@using FeTracker.Common.RazorComponents

<div class="tracker-section @PlayerSide">
    <PlayerData PlayerName="@PlayerName" Pronouns="@Pronouns" />
    <div class="@(@AppState.HideTracker ? "hidden-stuff" : "")">
        <KeyItemsTracker HideReset="true" />
    </div>


</div>

@code {
    [CascadingParameter]
    CascadingAppState AppState { get; set; } = new();

    [Parameter]
    public string PlayerSide { get; set; } = string.Empty;

    [Parameter]
    public string? PlayerName { get; set; }

    [Parameter]
    public string? Pronouns { get; set; }
}
