<div class="notes-area">
    <b>Seed Notes</b>
    <br />
    <InputTextArea @bind-Value="AppState.TextAreaContent" class="notes-entry-sizing" />
</div>


@code {

    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new();
}