@if(AppState.TextAreaContent.Any())
{
<div class="white-border blue-background notes-display-area notes-display">
    @foreach (var line in AppState.TextAreaContent.Split(Environment.NewLine).Where(x => !string.IsNullOrEmpty(x)))
    {
        <div class="note-text">@line</div>
    }
</div>
}



@code {
    [CascadingParameter]
    public CascadingAppState AppState { get; set; } = new();
}
